<div class="footer_wrapper">
	<div class = 'footer'>
		<div id = 'footer_navigation'>
			<ul>
				<a href="https://practicepractice.net/P/maths">Maths</a> |
				<a href="https://practicepractice.net/P/physics">Physics</a> |
				<a href="https://practicepractice.net/P/chemistry">Chemistry</a> |
				<a href="https://practicepractice.net/P/biology">Biology</a> |
				<a href="https://practicepractice.net/P/forums">Forums</a> |
				<a href="https://practicepractice.net/P/about">About</a> |
				<a href="https://practicepractice.net/P/sitemap">Sitemap</a> |
				<a href="https://practicepractice.net/P/legal">Legal</a>
			</ul>
		</div>
		
		<div id = 'footer_copyright'>
© 2020 <a href="https://practicepractice.net/">PracticePractice</a>
		</div>
	</div>
</div>

