{%set company_name = 'PracticePractice ltd' %}
{%set company_email = 'practicepractice@gmail.com'%}
{%set editor_name = editor_name%}
{%set editor_email = editor_email%}
{%set site = 'practicepractice.net'%}

<div id ='contract_body'>
	<!-- contract body -->
	<h1 id ='c_heading'>Contract of work for educational content writing</h1>



	<h2 id ='c_clause'>Parties</h2>
	<p id = 'c_paragraph'>Between <strong>{{company_name}}</strong>, referred to below as "Organiser"/"Administrators", and <strong>{{editor_name}}</strong>, referred to below as "Editor". The Editor preforms tasks on {{site}} referred to below as 'website' </p>



	<h2 id ='c_clause'>1. Agreement of parties</h2>
	<p id = 'c_paragraph'>Organiser hires Editor to edit the content on the website PracticePractice.net, for a prefixed price determined before the Editor accepts to take on a task, this price will be clearly stated next to the task listing. Organiser agrees to provide quality service and to answer to the Editor's requests in a timely manner.</p>
	
	<p id = 'c_paragraph'>The Editor agrees to complete any CLAIMED task within a period of 7 days and for the quality of work to meet the guidelines outlined on the website's guidelines for editors section, as well as completing the specific notes (if present) for that task under the Official spec notes area for the points tasks.</p>
	<p id = 'c_paragraph'>If the Organiser is'nt satisfied with the submitted work, the Editor agrees to give the Organiser the right to reject the work and have it sent back for re-editing, upon further submission, the Organiser can again reject the work if he feels it doesnt meet the guidelines or satisfies the written notes.</p>
	
	<p id = 'c_paragraph'>The Organiser provides the Editor with the ability to delete work.The Editor gives the Organiser permission to cancel the contract instantly despite of a task being active as well as denying payment for this task if the Organiser feels like this ability to delete work, is used with damaging intent by the Editor.</p>
	
	<p id = 'c_paragraph'>The agreed payment plan is at the end of the document.</p>



	<h2 id ='c_clause'>2. Legal matters and copyrights</h2>
	<p  id = 'c_paragraph'>The Editor will guarantee to the Organiser that any elements of text, graphics, photos, trademarks or other artwork that the Editor provides for inclusion in the website are either owned by him or that he has the permission to use them. When the Editor receives the final payment, copyright is automatically assigned as follows: Organiser will own the graphics, virtual elements, text content, photographs and other data provided, unless someone else owns them. The Editor can display the work as part of their Portfolio/work history.</p>




	<h2 id ='c_clause'>3. Term and termination</h2>
	<ol id ='c_paragraph' style="list-style-type: initial;">
		<li>This contract shall commence upon the acceptance of the first work,that is, after the Editor submits a task and this task is reviewed and accepted by the Organiser or any Administrators of the website. The contract shall remain effective until either party cancels the contract.</li>

		<li>This contract may be terminated at any time by either party effective immediately without a notice, unless the editor has a task which they are still working on or awaiting a review and/or payment for from the Organiser/Administrators, in which case the task has to be fully processed before the contract is terminated.</li>




	</ol>



	<h2 id ='c_clause'>4. Force majeure</h2>
	<p id = 'c_paragraph'>Editor shall not be deemed in breach of this contract if Editor is unable to complete the services or any portion by reason of fire, earthquake, labor dispute, illness, internet breaches or any technical issues that may appear beyond Editors\'s control. Upon occurrence of any Force Majeure Event, Editor shall give notice to the Organiser of his inability to perform or of delay in completing the services and shall propose revisions to the schedule for completion of the services.</p>



	<h2 id ='c_clause'>5. Payment plan</h2>
	<p id = 'c_paragraph'>Payment shall be done as follows:</p>
	<ul id ='c_paragraph'>
		<li>100% upon project closure.</li>
	</ul>
</div>
